@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

body,
nav,
p,
div {
  font-family: "Sanchez", serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Love Ya Like A Sister", serif;
  font-size: 3rem;
  color: white;
  text-align: center;
}
