.submit-button {
  height: 100%;
}

.square-button {
  background-color: #845ec2 !important;
  border: #845ec2 !important;
  font-family: "Sanchez", serif;
  box-shadow: none !important;
}

.loading-spinner {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-hello {
  width: 100%;
}

.yellow-background {
  background-color: #ffc75f;
}

.form-control {
  border-color: #845ec2 !important;
  border-radius: 4rem !important;
  font-family: "Sanchez", serif !important;
  border-width: 3px !important;
  box-shadow: none !important;
}

.card {
  padding: 2rem;
  margin: 2rem;
  border-width: 3px !important;
}
